In [1]:
#importing all the necessary libraries and porjects 
import pandas as pd 
import numpy as np
import matplotlib.pyplot as plt

In [2]:
df = pd.read_csv('StudentsPerformance.csv')

Checking for null

In [4]:
df.isnull().sum()

gender                         0
race/ethnicity                 0
parental level of education    0
lunch                          0
test preparation course        0
math score                     0
reading score                  0
writing score                  0
dtype: int64

Conclusion : No data cloumns have any null values

# Mapping all categorical data to numerical data

In [5]:
df.head()

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
0,female,group B,bachelor's degree,standard,none,72,72,74
1,female,group C,some college,standard,completed,69,90,88
2,female,group B,master's degree,standard,none,90,95,93
3,male,group A,associate's degree,free/reduced,none,47,57,44
4,male,group C,some college,standard,none,76,78,75

In [7]:
print(df['gender'].unique())
print(df['race/ethnicity'].unique())
print(df['parental level of education'].unique())
print(df['lunch'].unique())
print(df['test preparation course'].unique())

['female' 'male']
['group B' 'group C' 'group A' 'group D' 'group E']
["bachelor's degree" 'some college' "master's degree" "associate's degree"
 'high school' 'some high school']
['standard' 'free/reduced']
['none' 'completed']

In [8]:
#mapping gender column to numberical data clounm
genders = { 'male': 0, 'female':1}
df['gender_map'] = df['gender'].map(genders)

In [9]:
#mapping race/ethnicity into numerical data
races ={'group B':1, 'group C':2, 'group A':0, 'group D':3, 'group E':4}
df['race_ethnicity_map'] = df['race/ethnicity'].map(races)

In [10]:
#mapping parental levedfl of education to numerical data
education = {"bachelor's degree":5, 'some college':4, "master's degree":3,
       "associate's degree":2, 'high school':1, 'some high school':0}
df['parental level of education_map'] = df['parental level of education'].map(education)

In [11]:
#mapping lunch to numerical data
lunch = {'standard':0, 'free/reduced':1}
df['lunch_map'] = df['lunch'].map(lunch)

In [12]:
#mapping test preparation course into numerical data
test = {'none':0, 'completed':1}
df['test preparation course_map'] = df['test preparation course'].map(test)

In [13]:
df.head()

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score,gender_map,race_ethnicity_map,parental level of education_map,lunch_map,test preparation course_map
0,female,group B,bachelor's degree,standard,none,72,72,74,1,1,5,0,0
1,female,group C,some college,standard,completed,69,90,88,1,2,4,0,1
2,female,group B,master's degree,standard,none,90,95,93,1,1,3,0,0
3,male,group A,associate's degree,free/reduced,none,47,57,44,0,0,2,1,0
4,male,group C,some college,standard,none,76,78,75,0,2,4,0,0

Conclusion: All the categorical data has been mapped to numerical data for computation

# Adding new column fields for better computation

In [14]:
#total Score
df['total score']= df['math score'] + df['reading score'] +df['writing score']

In [15]:
#percentage
df['percentage'] = (df['total score']/300)*100

In [17]:
def grades (row):
    """This function is used to deternine grades of the students based on their marks"""
    if (row['math score']>40) & (row['reading score']>40) & (row['writing score']>40):
        if (row['percentage'] > 40) & (row['percentage'] <= 50):
            return ('third')
        elif (row['percentage'] > 50) & (row['percentage'] <= 60):
            return ('second')
        elif (row['percentage'] > 60) & (row['percentage'] <= 80):
            return ('First')
        else :
            return ('distinction')
    else:
        return ('fail')

In [18]:
#grades and mapped grades
row = df[['math score','reading score','writing score', 'percentage']]
df['grades'] = df.apply(lambda row: grades(row),axis=1)
grades_map= {'First':1, 'distinction':4, 'third':3, 'fail':0, 'second':2}
df['grades_map']= df['grades'].map(grades_map)

Conclusion: All new fields have been added and mapped

# Converting the cleaned and mapped dataframe to new data set csv file

In [20]:
df.to_csv('clean_data.csv')